@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<h1>My Cheese</h1>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet</p>
}
<ul>
    @foreach (string cheese in ViewBag.cheeses)
    {
        <li>@cheese</li>
    }
</ul>

<ul>
    @foreach (KeyValuePair<string,string> cheese in ViewBag.cheesesDictionary)
    {
        <li>Key:  @cheese.Key  Description:  @cheese.Value</li>
    }
</ul>

<ul>
    @foreach (var cheese in ViewBag.cheesesListOfCheese)
    {
        <li>@cheese.Name - @cheese.Description</li>
    }
</ul>
